node_modules/
venv/
.env
__pycache__/
.DS_Store
uploadedPDFs/
faiss_index/
StudyGenie_Backend/public/
StudyGenie_Frontend/public/
StudyGenie_model/my_faiss_db
StudyGenie_model/temp
StudyGenie_model/StudyGenieModel.py
__pycache__/
*.pyc
